<div class="filters">
	<div class="search-window">
		<div class="title">
			<h5 class="step">KROK 2</h5><h5>DOBIERZ ODPOWIEDNI FILTR OLEJU</h5>
		</div>
		<div class="container">
			<div class="row">
				<div class="filter" *ngFor="let filter of filters">
					<h5 class="brand">{{filter.producer}}</h5>
					<div class="type-name">
						<p class="type-name-label">{{filter.productCode}}</p>
					</div>
					<!-- <div class="filter-image">
						<img src="{{filter.image}}" />
					</div> -->
					<div class="description">
						<p class="price">{{filter.grossSalePrice}},-</p>
						<!-- <p class="description-label">{{filter.description}}</p> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>