header {
    width: 100%;
    color: white;
    display: block;
	height: 23%;
  

    .container-fluid {
        padding: 0;
        position:fixed;
        width: 100vw;
        height: 22vh;
        background-image: url('../../../assets/img/blackback.png');

        .logo {
            margin-top: 2vh;
            height: 40%;
            padding-left: 30%;
            background-image: url('../../../assets/img/logo.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }

        .user-panel {
            overflow: hidden;
            width: 10vw;
            position: fixed;
            right:1vw;
            top: 2vh;
            width: 12vw;
            border: 2px solid white;
            border-radius: 15px;

            .log-des {
                border-bottom: 2px solid white;
                color: black;
                background-color: white;
				font-size: 2vh;
            }
			
			.loginBtn {
				font-size: 2vh;
			}
        }

        .register-panel {
            position: fixed;
            right:3vw;
            top: 10vh;
			font-size: 2vh;
			
			.registration-btn {
				color:rgb(251,58,58);
				font-weight: bolder;
			}
        }

        .bottom-panel {
            width:100%;
            height:27%;
            position: absolute;
            bottom: 0;
            border-top: 1px solid white;
            
            .social {
                width: 50% !important;
                text-align: left !important;
                padding-left: 3vw;
                float: left;

                @media screen and (max-width: 700px) {
					.visible {display: none}
					.hidden {display: block !important;}
				}

                .icon {
                    font-size: 5vh;
                    margin: 0 1vh;
                    margin-top: 0.5vh;
                    color: white;
                }
            }       
			
			.page-title {
				font-size: 5vh;
				
				.title {
					&.fade-out {
						visibility: hidden;
						opacity: 0;
						transition: visibility 0s linear 600ms, opacity 600ms;
					}
					
					&.fade-in {
						visibility: visible; 
						opacity: 1;
						transition: visibility 0s linear 0ms, opacity 600ms;
					}
				}
				
				.hidden-icons {
					position: fixed;
					top: 15%;
					right: 36%;
					
					a {
						color: white;
					}

					.icon-t{
						padding: 0 2vw;
					}
					
					&.fade-out {
						visibility: hidden;
						opacity: 0;
						transition: visibility 0s linear 600ms, opacity 600ms;
					}
					
					&.fade-in {
						visibility: visible; 
						opacity: 1;
						transition: visibility 0s linear 1200ms, opacity 1800ms;
					}
				}
			}
			
			.trust {
				.trust-content {
                    border: solid white 0.1vw;
                    font-size: 1vw;
                    border-radius: 7px;
                    display: inline-block;
                    margin: 1vh 0 !important;
                    padding: 0 8px;
                }
			}
        }
    }
}


