<div class="mainpage">
  <div class="search-window">
		<div class="title">
			<span class="title-first-row">
			  SKORZYSTAJ Z NOWEGO STANDARDU WYSZUKIWANIA PCS
			</span>
			<br>
			<span class="title-second-row">
			  AUTOMATYCZNIE DOPASUJ OLEJ DO SWOJEGO SAMOCHODU
			</span>
		</div>
		<div class="buttons">
              <div class="red-line horizontal"></div>
              <div class="row">
                <div class="col-sm-6 dropdown">
                  <button id="car-mark" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">MARKA SAMOCHODU</button>
                  <ul class="dropdown-menu">
                    <li><a href="#">BMW</a></li>
                    <li><a href="#">SEAT</a></li>
                    <li><a href="#">URSUS</a></li>
                  </ul>
                </div>

                <div class="col-sm-6 dropdown">
                  <button class="car-year btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">ROCZNIK SAMOCHODU</button>
                  <ul class="dropdown-menu">
                    <li><a href="#">666</a></li>
                    <li><a href="#">69</a></li>
                    <li><a href="#">1996</a></li>
                  </ul>
                </div>
              </div>

              <div class="red-line vertical"></div>

              <div class="row">

                
                  <div class="red-line horizontal"></div>
                  <div class="engine col-sm-6 dropdown" id="engineDiv">
                    <button class="car-engine btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">SILNIK SAMOCHODU</button>
                    <ul class="dropdown-menu dropdown-menu-wide">
                        <li><a href="#">SZYBKI</a></li>
                        <li><a href="#">WSCIEKŁY</a></li>
                        <li><a href="#">NORMALNY</a></li>
                    </ul>
                  </div>



                  <div class="col-sm-6 dropdown" id="modelDiv">

                    <button class="car-model btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">MODEL SAMOCHODU</button>
                    <ul class="dropdown-menu">
                      <li><a href="#">BARDZO</a></li>
                      <li><a href="#">FAJNE</a></li>
                      <li><a href="#">AUTO</a></li>
                    </ul>
                  </div>
              </div>

              <div class="row">
                  <div class="col-sm-6 car-img dropdown">
                    <img src="../../../assets/img/car.png" style ="width: 50%; height: 80%">
                  </div>
                  <div class="col-sm-6 summary">
                    <div>
                      TWOJE DANE SAMOCHODU
                        <div class="car-data">
                          XXXX <br>
                          XXXX XXXX <br>
                          XXXX 
                        </div>
                    </div>

                    <button class="btn btn-primary continue-button" type="button" data-toggle="dropdown">KONTYNUUJ</button>
                  </div>
              </div>
        </div>
  </div>
  <div class="partners">
    <div class ="row">
      <div class = "column">
          <img class="horizontal" col="img-responsive" src="../../../assets/img/eneos.png">
      </div>
      <div class = "column">
          <img class="vertical" src="../../../assets/img/valvoline.png">
      </div>
      <div class = "column">
          <img class="vertical" src="../../../assets/img/millers.png">
      </div>
      <div class = "column">
          <img class="horizontal" src="../../../assets/img/elf.png">
      </div>
      <div class = "column">
          <img class="horizontal"src="../../../assets/img/motul.png">
      </div>
    </div>
  </div>
  <div class="payment">

  </div>
</div>