<div class="form">
  <div class="container">
    <div class="header bgBlack">
      <p class="title bgRed">
        KONTAKT
      </p>
    </div>
    <div class="holder">
      <p>
        POLSKIE CENTRUM SAMOCHODOWE SP Z O.O.
        <br>41-303 Dąbrowa Górnicza
        <br> al. Marszałka Piłsudskiego 34/645
      </p>
      <a class="bgBlack" href="tel:+48516757040">tel: 516 757 040</a><br>
      <a class="bgBlack" href="mailto:sklep@pcs-online.pl">sklep@pcs-online.pl</a>
    </div>
  </div>
</div>