<div class="form">

  <div class="container">
    <div class="header bgBlack">
      <p class="title bgRed">
        PARTNERZY
      </p>
    </div>
    <div class="holder">
      <p>
        Współpracujemy z najlepszymi!
      </p>
      <img src="../../../../assets/Partnerzy/eneos.png" alt="eneos">
      <img src="../../../../assets/Partnerzy/valvoline.png" alt="valvoline">
      <img src="../../../../assets/Partnerzy/millers.png" alt="millers">
      <img src="../../../../assets/Partnerzy/elf.png" alt="elf">
      <img src="../../../../assets/Partnerzy/motul.png" alt="motul">
    </div>
  </div>
</div>