.form
{
    .container 
    {
        .holder 
        {
            padding: 1vh 1vw;
            p 
            {
                font-size: 2vh;
                padding-bottom: 2vh;
            }
            img 
            {
                margin: auto;
                max-height: 10vh;
            }
        }
    }
    
}