<div class="form">

  <div class="container">
    <div class="header bgBlack">
      <p class="title bgRed">
        O firmie
      </p>
    </div>
    <img src="../../../../assets/img/logo.png">
    <br>
    <p class="topTxt">
      Nowy sklep motoryzacyjny w Twojej okolicy!
      <br> Znajdziesz u nas części samochodowe do wszystkich marek, m.in. :
      <br>BMW, AUDI, VW, MERCEDES.
      <br>Jeśli nie wiesz jaki olej do silnika zastosować - dobierzemy go dla Ciebie profesjonalnie.
    </p>

    <p class="bgRed infoTxt">W naszej ofercie znajdziesz również :</p>
    <br>
    <div class="bgBlack infoTxt clickable" routerLink="/ledy">
      <p>oświetlenie</p>
    </div>
    <div class="bgBlack infoTxt clickable" routerLink="/zapachy">
      <p>zapachy samochodowe </p>
    </div>
    <div class="bgBlack infoTxt clickable" routerLink="/wycieraczki">
      <p>wycieraczki samochodowe</p>
    </div>
    <div class="bgBlack infoTxt " routerLink="/">
      <p>tarcze hamulcowe</p>
    </div>
    <div class="bgBlack infoTxt " routerLink="/">
      <p>klocki hamulcowe</p>
    </div>
    <div class="bgBlack infoTxt clickable" routerLink="/oleje-premium">
      <p>olej silnikowy</p>
    </div>
    <p class="bottomTxt">
      Wszystkie samochody wymagają opieki dlatego skupiamy się na tym, żeby dobór auto części zawsze spełniał Twoje oczekiwania.
      Pamiętaj gdy spali się żarówka lub skończą się klocki to zadzwoń lub napisz do nas ponieważ motoryzacja to nasza pasja.
    </p>
  </div>
</div>