<div class="loginPanel">

  <div class="container">
    <div class="header bgBlack">
      <p class="title bgRed">
        Sklep stacjonarny
      </p>
    </div>
    <div class="left">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10187.661918066966!2d19.2204684!3d50.3308281!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x54b1f9d1c83d2399!2sPolskie+Centrum+Samochodowe+-+cz%C4%99%C5%9Bci+i+akcesoria+samochodowe.+D%C4%85browa+G%C3%B3rnicza!5e0!3m2!1spl!2spl!4v1535701674382" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

    <div class="right">
      <p class="bgRed">
          Adres
      </p>
      <p class="">
        Aleja Piłsudskiego 34/645,<br> 41-303 Dąbrowa Górnicza
      </p>
      <br>
      <p class="bgRed">
        OTWARTE
      </p>
      <p>
        poniedziałek-piątek<br>
        8:00-18:00<br><br>
        sobota<br>
        8:00-14:00<br><br>
        niedziela<br>
        nieczynne
      </p>
      <p class="bgRed">{{isOpen()}}</p>
    </div>
  </div>
</div>